* {margin: 0;} html, body{height: 100%;}

:root {
/*Color THEME*/
--citron: #e1ce7a;
--charcoal: #424b54;
--desertsand: #ebcfb2;
--silver: #c5baaf;
}

/* ADD FONTS HERE*/

body{
  background-color: var(--silver);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--citron);
  padding: .5rem;
}

main {
  display: flex;
  flex: 1;
  padding: 1rem;
}
article{
  padding: 1rem;
}

#duck {
  width: 80px;
  height: auto;
  padding-top: 50px;
}

footer {
  background-color: var(--charcoal);
  padding: 2rem;
}
