@import "animate_water_flow.css";
@import "animate_rain.css";

#waterBody{
	background-color: blue;
	border-radius: 100%;
	padding-top:30px;
	width:320px;
	box-shadow: blue 0 0 50px;
	margin: 20px;
	padding-left: 11%;
}

.sky {
	height: 0;
}