@import "animate_water_flow.css";
@import "animate_rain.css";

.flex-container{ display: flex;}
.flex-container > aside { transition: flex, linear, 7s; }
.flex-container > aside:nth-of-type(2) { flex: 1; }


.container{
  /* flex: 1; This is set by JS*/
} 

body {
	transition: background-color, 7s;
}


article {
	flex: 0 0 500px;
}

button {
	margin-left: 30px;
	padding: 7px;
	background-color: #888;
	color: white;
	border: none;
	transition: opacity 1s;
}
button:active {
	margin-left: 30px;
	padding: 7px;
	background-color: #666;
	color: white;
	border: none;
	transition: opacity 1s;
}

input[name="duck_color"] {
	border:none;
	outline:none;
	background-color: white;
	transition: background-color 3s;
	font-family: monospace;

}


span.inline > * {
	display: inline;
}


.phasedDisplay > * {
	opacity: 0;
	visibility: collapse;
	transition: opacity 1500ms;
}
.phasedDisplay, flex-container {
	flex-direction:column;
}

#duck {
	position: relative;
	bottom: -1.7rem;
}




/*MEDIA QUERIES*/
#print {
	display: none;
}
@media print {
	.flex-container{
		display:none;
	}
	#print {
		display:block;
		font-size:20pt;
	}
}


@media (max-width: 499px) {
article {
		max-width: 355px;
		min-width: unset;
	}
}
