@import "animate_water_flow.css";
@import "animate_rain.css";

.flex-container{
	display: flex;
	flex-direction: column;
}
.main_container{
	display: flex;
	flex-direction: unset;
}
.flex-container > aside { transition: flex, linear, 7s; }
.flex-container > aside:nth-of-type(2) { flex: 1; }


body {
	transition: background-color, 7s;
}


article {
	flex: 0 0 500px;
}

button, button:active {
	margin-left: 30px;
	padding: 7px;
	background-color: #888;
	color: white;
	border: none;
	transition: opacity 1s;
}
button:active {
	background-color: #666;
}

input[name="duck_color"] {
	border:none;
	outline:none;
	background-color: white;
	transition: background-color 3s;
	font-family: monospace;

}


span.inline > * {
	display: inline;
}

#helper{
	font-size: x-small;
	margin-left: 10em;
}

#print, header, .phasedDisplay > *, .phaseTwo > *, .phaseTwo {
	display: none;
}

.phasedDisplay > .phaseTwo > #eyes {
	font-size: 30pt;
	text-shadow: 1px 1px 3px black;
}

#duck {
	position: relative;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black;
	font-size: 18pt;
	font-weight: 950;
	transition-property: left, top;
	transition-duration: 1s;
	left: 0;
	top: 0;
}

#waterBody{
	background-color: blue;
	border-radius: 100%;
	padding-top:30px;
	width:320px;
	box-shadow: blue 0 0 50px ;
}



/*MEDIA QUERIES*/
@media print {
	.flex-container{
		display:none;
	}
	#print {
		display:block;
		font-size:20pt;
	}
}


@media (max-width: 499px) {
	article {
			max-width: 355px;
			min-width: unset;
	}
}

@media (max-width: 810px){
	header {
		padding: 15px;
		background-color: darkgoldenrod;
		display: flex;
		border-radius: 4px;
	}

	header > p {
		margin: 0;
		color: white;
	}

	header > button {
		height: fit-content;
		background-color: goldenrod;
		border-radius: 7px;
		border: 1px solid white;
	}

	header > button:active {
		height: fit-content;
		background-color: #9C7616;
		border-radius: 7px;
		border: 1px solid white;
	}
}
