* {margin: 0;} html, body{height: 100%;}

:root {
/*Color THEME*/
--darkcitron: #b4a461;
--citron: #e1ce7a;
--lightcitron: #e7d794;

--charcoal: #424b54;
--darkcharcoal: #2e343a;
--lightcharcoal: #545d65;

--desertsand: #ebcfb2;
--silver: #c5baaf;
}


/* TODO: ADD FONTS HERE*/

body{
  background-color: white;
  display: flex;
  flex-direction: column;
}

aside {
  display: flex;
  flex: 1;
}

main {
  display: flex;
  flex: 1;
  padding: 1rem;
  max-width: 800px;

  /*CENTER*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width 70%;
}

article{
  padding: 1rem;
}

#duck {
  width: 80px;
  height: 160px;
  padding-top: 50px;
  /*CENTER*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width 70%;
}

a {
  text-decoration: none;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 7px;
  background-color: var(--charcoal);
  color: white;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;

  /*CENTER*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width 70%;


}
button:hover{
  background-color: var(--darkcharcoal);
}
button:active{
  background-color: var(--lightcharcoal);
}

footer {
  background-color: var(--citron);
  padding-left: .5rem;
  padding-right: .5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

@media (max-width: 800px)
