@use "utils/_mixins" as theme;
@use "utils/_animators" as animate;
@use "utils/_variables" as v;

//Animations
@include animate.rotate;

div.contributions{
  ul{
    position: relative;
    padding: 0;
    .loading{
      animation: 3s linear infinite rotate;
      @include theme.center-by-margin(50px);
    }
    p.loading-msg{
      text-align: center;
      position: relative;
      top: -400px;
    }
  }
  div.error-msg{
    top: 10%;
  }
}
