@use "utils/_mixins" as theme;
@use "utils/variables" as v;


.menuHam {
	@include theme.rounded-corners;
	@include theme.button-click;
	&:hover{
		svg g {stroke: v.$charcoal}
	}
	&:active{
		svg g {stroke: white;}
	}
	background-color: white;
	height: 35px;
	padding: 10px;
	margin-bottom: 1rem;
	border:none;
	font-size: 0;
}

#nav{
	/* display:block; */
	/* position:relative; */
	margin: 1rem auto 0 auto;
	width: 800px;
	nav{
		overflow: hidden;
		/* visibility: collapse; */
		transition-property: visibility, max-height;
		transition-duration: .5s;
	}
	menu {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		padding: 1em 0;
	}

	a {
		text-decoration: none;
		color: black;
		@include theme.rounded-corners;
		@include theme.button-click;
		padding: 15px;
		margin: .2rem auto;
		width: 50%;
		text-align: center;
		background-color: rgba(256, 256, 256, .3);
		transition: background .2s;
	}
}

