@use "_styles" as theme;
@use "nav"; // Include all nav styles.


// MIXINS
@mixin center($w) {
  display: block;
  margin: 0 auto;
  width: $w;
}

$pad: 2rem;


/*ELEMENT STYLING*/

@include theme.Theme;

div#app{
  background-color: theme.$citron;
  div#content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    header {
      flex-shrink:0;
      @include center(800px);
      padding: 2rem 0;
      button.menuHam{
        margin: unset;
      }
    }
    main {
      flex-grow:1;
      @include center(800px);
      article{
        padding: $pad;
        position: relative;
      }
    }
    footer {
      flex-shrink: 0;
      //position: relative;
      bottom: 0;
      @include center(100%);
      padding-top: $pad;
      padding-bottom: $pad;
      text-align: center;
      white-space: nowrap;
    
    }
    // MEDIA QUERIES 
    @media(max-width:900px){
      header {
        @include center(600px);
      }
      main {
        @include center(600px);
      }
      footer {
        @include center(600px);
      }
    }
    @media(max-width:700px){
      header {
        @include center(300px);
      }
      main {
        @include center(300px);
        article{
          padding: 1rem;
        }
      }
      footer {
        @include center(300px);
      }
    }
  }
}


/*UTILITY STYLES*/

div#storyPage{
  width:0;
  height:100%;
  position:absolute;
  top:0;
  left:100%;
  background-color: #fff;
  @include theme.rounded-corners;
}

div#duck-container{
  height:610px;
  padding: $pad;
}

svg#duck-canvas{
  @include center(100%);
  position:absolute;
  opacity:1;
  overflow: hidden;
}

a {
  text-decoration: none;
}

button {
  @include center(unset);
  padding: 1rem;
  border: none;
  border-radius: 7px;
  background-color: theme.$charcoal;
  color: white;
  font-weight: bold;


  &:hover{
    background-color: theme.$darkcharcoal;
  }
  &:active{
    background-color: theme.$lightcharcoal;
  }

}
