@use "_styles" as theme;
@use "nav"; // Include all nav styles.


// MIXINS
@mixin center($w) {
  display: block;
  margin: 0 auto;
  width: $w;
}

$pad: 2rem;


/*ELEMENT STYLING*/

@include theme.Theme;

div#front-page{
  background: theme.$citron;
  div#storyPageFlex {
    display: flex;
    div#flexCenter {
      flex: .15;
      overflow: hidden;
    }
    div#content{
      flex: 1;
      header {
        max-width: 800px;
  
        @include center(800px);
        padding: $pad;
        button.menuHam {
          margin: unset;
        }
      }
      main {
        max-width: 800px;
        @include center(800px);
        flex: 1;
        article{
          div.text {
            padding: $pad;
          }
          svg#duck-canvas{
            @include center(70%);
            padding-bottom: $pad;
          }
        }
      }
      footer {
        background-color: theme.$citron;
        max-width: 800px;
        @include center(800px);
        padding-top: $pad;
        padding-bottom: $pad;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;

      }
      // MEDIA QUERIES 
      @media(max-width:900px){
        header {
          max-width: 600px;
          @include center(600px);
        }
        main {
          max-width: 600px;
          @include center(600px);
          article{
            div.text {
              padding: $pad;
            }
            svg#duck-canvas{
              @include center(100%);
              padding-bottom: $pad;
            }
          }
        }
        footer {
          max-width: 600px;
          @include center(600px);
        }
      }
      @media(max-width:700px){
        header {
          max-width: 300px;
          @include center(300px);
        }
        main {
          max-width: 300px;
          @include center(300px);
          article{
            div.text {
              padding: $pad;
            }
            svg#duck-canvas{
              @include center(100%);
              padding-bottom: $pad;
              width:300px;
              height:340px;
            }
          }
        }
        footer {
          max-width: 300px;
          @include center(300px);
        }
      }
    }
      div#storyPage {
        flex: .15;
      }
  }
}


/*UTILITY STYLES*/

a {
  text-decoration: none;
}

button {
  @include center(unset);
  margin: 50px auto;
  padding: 1rem;
  border: none;
  border-radius: 7px;
  background-color: theme.$charcoal;
  color: white;
  font-weight: bold;


  &:hover{
    background-color: theme.$darkcharcoal;
  }
  &:active{
    background-color: theme.$lightcharcoal;
  }

}
