@use "_styles" as theme;
@use "nav"; // Include all nav styles.


// MIXINS
@mixin center($w) {
  display: block;
  margin: 0 auto;
  width: $w;
}

$pad: 2rem;


/*ELEMENT STYLING*/

@include theme.Theme;

div#front-page{
  background-color: theme.$citron;
  div#storyPageFlex {
    display: flex;
    div#content{
      flex: 1;
      display: flex;
      flex-direction: column;
      header {
        @include center(800px);
        button.menuHam {
          margin: $pad 0;
        }
      }
      main {
        flex:1;
        @include center(800px);
        article{
          div.text {
            padding: $pad;
          }
          div#storyPage{
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:100%;
            background-color: #fff;
          }
          div#duck-container{
            height: 610px;
            padding: $pad;
            svg#duck-canvas{
              @include center(100%);
              padding-bottom: $pad;
              position:absolute;
              left: 0;
              top: auto;
              bottom: auto;
              right: auto;
            }
          } 
        }
      }
      footer {
        background-color: theme.$citron;
        @include center(800px);
        padding-top: $pad;
        padding-bottom: $pad;
        text-align: center;
        white-space: nowrap;

      }
      // MEDIA QUERIES 
      @media(max-width:900px){
        header {
          @include center(600px);
        }
        main {
          @include center(600px);
          article{
            svg#duck-canvas{
              @include center(100%);
            }
          }
        }
        footer {
          @include center(600px);
        }
      }
      @media(max-width:700px){
        header {
          @include center(300px);
        }
        main {
          @include center(300px);
          article{
            div#duck-container{
              height: 340px;
              svg#duck-canvas{
                @include center(100%);
                height:340px;
              }
            }
          }
        }
        footer {
          @include center(300px);
        }
      }
    }
  }
}


/*UTILITY STYLES*/

a {
  text-decoration: none;
}

button {
  @include center(unset);
  margin: 50px auto;
  padding: 1rem;
  border: none;
  border-radius: 7px;
  background-color: theme.$charcoal;
  color: white;
  font-weight: bold;


  &:hover{
    background-color: theme.$darkcharcoal;
  }
  &:active{
    background-color: theme.$lightcharcoal;
  }

}
