@use "_styles" as theme;


.menuHam {
	@include theme.rounded-corners;
	@include theme.button-click;
	margin: 10px;
	background-color: white;
	height: 35px;
	padding: 10px;
}

nav {
	visibility: 'collapse';
	max-height: 0;
	display: block;
	transition-property: visibility, max-height;
	transition-duration: .5s;
	overflow: hidden;
	ul {
		list-style-type: none;
		padding: 1em 0;
		margin: 2px;
	}

	a {
		text-decoration: none;
		color: black;
		li {
			@include theme.rounded-corners;
			@include theme.dark-citron-dropshadow;
			@include theme.button-click;
			padding: 15px;
			margin: 0 auto;
			width: 50%;
			text-align: center;
			transition: background .2s;
		}
	}
}
