// COLORS
// Primary
$darkcitron: #b4a461;
$citron: #e1ce7a;
$lightcitron: #e7d794;

//Secondary
$darkcharcoal: #2e343a;
$charcoal: #424b54;
$lightcharcoal: #545d65;
$ultralightcharcoal: #878D93;

$darkdesertsand: #e0b68a;
$desertsand: #ebcfb2;
$lightdesertsand: #f0dcc6;
$ultralightdesertsand: #fbf5ee;

$darkburntsilver: #56493e;
$burntsilver: #655649;
$lightburntsilver: #836f5e;
$ultralightburntsilver: #A39080;

//SHADES OF gray
$bw3to1: #949494;


$errormessage: #9f0000;
$errorbackground: #ffeeee;


// SPACING
$pad: 2rem;
$h1-margin: .75rem;
$sm-max-width: 700px;
$md-max-width: 900px;


// FONT SIZING

//headers
$h1-font-size: 60px;
$h1-line-height: calc($h1-font-size*1.4);
$h1-font: bold #{$h1-font-size*1.0}/#{$h1-line-height*1.0} "Nunito";
$h2-font: bold #{$h1-font-size*.60}/#{$h1-line-height*.60} "Nunito";
$h3-font: bold #{$h1-font-size*.50}/#{$h1-line-height*.50} "Nunito";
$h4-font: bold #{$h1-font-size*.40}/#{$h1-line-height*.40} "Nunito";
$h5-font: bold #{$h1-font-size*.30}/#{$h1-line-height*.30} "Nunito";

//p
$p-font-size: 16px;
$p-line-height: $p-font-size*1.3;
$p-font: #{$p-font-size}/#{$p-line-height} "Nunito";
