@use "../../../assets/css/_variables" as v;
@use "../../../assets/css/_mixins" as theme;

$ghgreen: #238636;
$ghpurple: #8957e5;

$center-items-spacing: 2em;

div.pull-request-tile{
	border: 1px solid v.$darkdesertsand;
	padding: v.$pad;
	@include theme.rounded-corners;
	@include theme.medium-media-query(){
		padding: calc(v.$pad/3);
	}
	margin: .5rem;
	h4{
		cursor: pointer;
		text-decoration: underline;
		text-decoration-thickness: 2px;
	}
	h4.prt{
		&-merged{
			color: $ghpurple;
		}
		&-open{
			color: $ghgreen;
		}
	}
	div.prt-visual-aid{
		display: flex;
		width: 100%;
		margin-top: $center-items-spacing;
		img[class$=-avatar]{
			border-radius: 100%;
			width: 100%;
		}
		svg.prt{
			&-merged, &-open{
				fill: white;
				flex: 1 0 auto;
				width: 15%;
				height: 15%;
				/* min-height: 100px; */
				margin: 0 8px;
				border-radius: 25%;
			}
			&-merged{
				background-color: $ghpurple;
			}
			&-open{
				background-color: $ghgreen;
			}
		}
	}
	p.prt-org-description{
		text-align:center;
		font: v.$h5-font;
		font-weight: normal;
		margin-top: $center-items-spacing;
		margin-bottom: $center-items-spacing;
	}
	div.prt-labels{
		display: flex;
		flex-wrap: wrap;
		span{
			margin: .2em;
			padding: 0 .6em;
			white-space: nowrap;
			border-radius: 2em;
		}
	}
	div.prt-reactions{
		display: flex;
		flex-wrap: wrap;
		$HxW: 40px;
		$r-margin: 1em;
		span.prt-reaction{
			position:relative;
			display:flex;
			align-items: center;
			justify-content: center;
			width: $HxW;
			height: $HxW;
			margin-bottom: 1em;
			margin-right: $r-margin;
			border-radius: 100%;
			background-color: v.$ultralightcharcoal;
		}
		span.prt-reaction-count{
			display: flex;
			align-items: center;
			position: absolute;
			top: 30px;
			right: $r-margin*-1;
			height: 16px;
			padding: 5px;
			@include theme.rounded-corners;
			color: white;
			background-color: v.$errormessage;
		}
	}
	p.prt-create-date{
		font-size: calc(v.$p-font-size/1.35);
		line-height: 0;
		margin: 0;
		margin-top: 2em;
		text-align: right;
	}
}
