@use "../../assets/css/_mixins" as theme;
@use "../../assets/css/_variables" as v;

$button-margin: 10px;

div.showcase {
	display:flex;
	flex-wrap: wrap;
	padding: 0;
	button, a{
		position:relative !important;
		flex: 1 0 calc(33.33% - $button-margin * 2);
		@include theme.medium-media-query(){flex: 1 0 calc(50% - $button-margin * 2)}
		@include theme.small-media-query(){flex: 1 0 calc(100% - $button-margin * 2)}
		text-decoration: none;
		line-height:0;
		padding: 0;
		margin: $button-margin;
		border: 0;
		background-color: inherit;
		h3{
			@include theme.medium-media-query(){
				position: static;
				opacity: 1;
				width: 100%;
				height: auto;
				margin-bottom: calc($button-margin/2);
				background-color: v.$darkcharcoal;
			}
			font: v.$h5-font;
			display: flex;
			position: absolute; // relative to button.
			width: 100%;
			height: 100%;
			opacity: 0;
			margin: 0;
			align-items: center;
			justify-content: center;
			background-color: rgba(0, 0, 0, .7);
			color: white;
			@include theme.rounded-corners;
		}
		&:hover, &:active, &:focus-visible {
			h3{opacity:1}
			background-color: inherit;
		}
		img{
			box-sizing: border-box; // sets how the total width and height is calculated. In this case it's calculated by the border box instead of the content box.
			max-width: 100%;
			@include theme.rounded-corners;
			border: 5px solid v.$burntsilver;
		}
	}
}
